[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle \
    timeout 150  'dms-launch-screensaver' \
    timeout 300  'dms-lock-screen' \
    before-sleep 'dms-lock-screen'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
