[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle \
    timeout 150  'launch-screensaver' \
    timeout 151  'lock-screen' \
    before-sleep 'lock-screen'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
