include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/input.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/layout.kdl"
include "./cfg/misc.kdl"
include "./cfg/rules.kdl"

// Required for everything to get imported correctly from DMS
// NIRI-GIT REQUIRED FOR OPTIONAL=TRUE
include optional=true "dms/alttab.kdl"
include optional=true "dms/binds.kdl"
include optional=true "dms/colors.kdl"
include optional=true "dms/cursor.kdl"
include optional=true "dms/layout.kdl"
include optional=true "dms/outputs.kdl"
include optional=true "dms/windowrules.kdl"
include optional=true "dms/wpblur.kdl"
